<span th:fragment="customerSearchResults">
	<div th:if="${#lists.isEmpty(customers)}" class="card" style="margin-top:0px !important">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
			<span >No Results</span> 
			</li>
		</ul>
	</div>
	<div th:if="${not #lists.isEmpty(customers)}" class="card" style="margin-top:0px !important">
		<ul class="list-group list-group-flush"
			th:each="customer : ${customers}">
			<li class="list-group-item" th:onclick="'loadCustomer(\''+ ${customer.username} +'\')'" style="cursor: pointer">
			<span th:text="${customer.username}" ></span> 
			</li>
		</ul>
	</div>
	
	
	<script>
		/*<![CDATA[*/
		$("#customerSearch1").keyup(function () {
			$("#customerSearchResults").load("/searchCustomer/" + $("#customerSearch").val());
		});
		
		function loadCustomer(username) {
			$("#searchResults").load("/loadCustomer/" + username);
			$("#customerSearch").val("");
			$("#customerSearchResults").empty();
		}
		/*]]>*/
	</script>
</span>