<span th:fragment="footer" class="footerWrapper">
	<div class="footer">
		<div class="footer1">
			<div class="container ">
				<div class="row">
					<div class="col-sm-8">
						<br /> <img src="/images/logoMed.jpg" /> <br />
						
					</div>
					<div class="col-sm-4 ">
						<h2>Contact Us</h2>
						<div class="footerlist">
							<i class="fa fa-phone"></i> <a href="16175551225"> (323) 456-7890 </a>
						</div>
						<div class="footerlist nowrap">
							<i class="fa fa-envelope"></i> <a href="mailto:WilliamSpecialtyCo@gmail.com"> WilliamSpecialtyCo@gmail.com</a>
						</div>
						<div class="footerlist">
							<div class="inline">
								<i class="fa fa-map-marker"></i>
							</div>
							<div class="inline">
								795 Folsom Ave, Suite 600<br />San Francisco, CA 94107
							</div>
						</div>
					</div>
				</div>
				<div class="clear30"></div>
			</div>
		</div>


		<div class="footer2 bg-dark">
			<div class="container-fluid">
				<div class="container">
					<div class="row">
						<div class="clear30"></div>
						<div class="col-sm-12 text-center text-light">
							<p>
								<strong>DeVry CIS 470 - Professor:</strong>
								 Bingdong Li - Group 2 - 
								 Kenneth Burke, Joel Casey, Dylan Essman, Adina Im, Ramond Mangaroo
								<br /> copyright © 2018 All right reserved.
							</p>
						</div>
						<div class="clear30"></div>
					</div>

				</div>

			</div>
		</div>
		<script defer="defer" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	</div> <script type="text/javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			var windowHeight = $(window).height();
			var footHeight = $(".footer").height();
			$(".bodyWrapper").css("min-height", windowHeight - footHeight);
		});
		/*]]>*/
	</script>
</span>