<head lang="en" th:fragment="head">
   <meta charset="utf-8"> </meta>
	<meta name="robots" content="noindex, nofollow"></meta>

	<title>Williams Specialty Company (WSC)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

	<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/main.css" />	
	<link rel="stylesheet" href="/css/footer.css" />	
	<link rel="stylesheet" href="/css/product.css" />	
	<script type="text/javascript" src="/js/scripts.js"></script>
</head>