<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
	<link rel="stylesheet" type="text/css" href="../static/css/guru.css" />
</head>
<body>

	<div class="container">
		<div th:fragment="header">

			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<nav class="navbar navbar-default" role="navigation">
							<div class="navbar-header">
								<a class="navbar-brand" href="#" th:href="@{/}">Home</a>
							</div>

							<div class="collapse navbar-collapse"
								id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a href="#" th:href="@{/products}">Products</a></li>
									<li><a href="#" th:href="@{/product/new}"
										sec:authorize="hasAuthority('MANAGER')">Create Product</a></li>
									<li><a href="#" th:href="@{/adminproductstyle}"
										sec:authorize="hasAuthority('MANAGER')">Product Style</a></li>
									<li><a href="#" th:href="@{/admin}"
										sec:authorize="hasAuthority('ADMIN')">Admin</a></li>
								</ul>								<ul class="nav navbar-nav navbar-right">
									<li sec:authorize="!isAuthenticated()"><a href="#"
										th:href="@{/login}">Sign In</a></li>
									<li sec:authorize="isAuthenticated()" ><a href="#" 	
										th:href="@{/logout}">Sign Out</a></li>
								</ul>
								<ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
									<li><a>Welcome <span sec:authentication="principal.userInformation.fullName"></span></a></li>
								</ul>
								
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="../staticjs/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../staticjs/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../staticjs/scripts.js" th:src="@{/js/scripts.js}"></script>
</body>
</html>