<span th:fragment="navbar">
	<div id="wrapper" class="animate">
		<nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
			<a href="#" th:href="@{/}"><img src="/images/miniLogo.jpg" /></a>

			<ul class="navbar-nav ml-md-auto d-md-flex">
				<li class="nav-item"><a class="nav-link" href="#" id="products" th:href="@{/products}"><i class="fas fa-tags"></i> Products</a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><span class="nav-link">Welcome, <span th:text="${preferredName}"></span></span></li>
			</ul>

			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav ml-md-auto d-md-flex">
					<li class="nav-item dropdown" sec:authorize="hasAuthority('MANAGER')"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
						aria-expanded="false"><i class="fas fa-wrench"></i>Admin</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#" th:href="@{/adminUserMaint}">User Maintenance</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#" th:href="@{/adminproductstyle}">Product Style Maintenance</a>
							<a class="dropdown-item" href="#" th:href="@{/adminproduct}">Product Maintenance</a>
						</div></li>
					<li class="nav-item" sec:authorize="hasAuthority('EMPLOYEE')"><a class="nav-link" href="#" th:href="@{/customers}"><i
							class="fas fa-users"></i>Customers</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" href="#" th:href="@{/userprofile}"><i class="fas fa-user"></i>
							Profile</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" href="#" th:href="@{/shoppingCart}"><i
							class="fas fa-cart-plus"></i> Cart</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" href="#" th:href="@{/logout}"><i class="fas fa-key"></i>
							Logout</a></li>
					<li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link" href="#" th:href="@{/signup}"><i class="fas fa-user-plus"></i>
							Signup</a></li>
					<li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link" href="#" th:href="@{/login}"><i class="fas fa-key"></i>
							Login</a></li>
				</ul>
			</div>
		</nav>
	</div>
</span>