<div th:fragment="orderHistory">
	<div class="row">
		<div class="col-sm-3">
			<div class="card card-body" style="margin-top: 0px !important" th:with="orders=${customer.userInformation.customerDetail.orderDetails}">
				<ul class="list-group">
					<li class="list-group-item list-group-item-primary">Active Orders</li>
					<th:block th:each="order : *{orders}">
						<th:block th:unless="*{order.orderComplete}">
							<li th:unless="*{order.orderCanceled}" class="list-group-item" th:onclick="'loadOrder(\''+ ${order.id}  + '\',\'' + ${customer.username} +'\')'" style="cursor: pointer"><span
								th:text="*{#dates.format(order.orderDt, 'MM-dd-yyyy')}"></span> - $<span th:text="*{order.orderTotal}"></span></li>
						</th:block>
					</th:block>
				</ul>
			</div>
			<div class="card card-body" style="margin-top: 0px !important" th:with="orders=${customer.userInformation.customerDetail.orderDetails}">
				<ul class="list-group">
					<li class="list-group-item list-group-item-success">Completed Orders</li>
					<th:block th:each="order : *{orders}">
						<th:block th:if="*{order.orderComplete}">
							<li class="list-group-item" th:onclick="'loadOrder(\''+ ${order.id}  + '\',\'' + ${customer.username} +'\')'" style="cursor: pointer"><span
								th:text="*{#dates.format(order.orderDt, 'MM-dd-yyyy')}"></span> - $<span th:text="*{order.orderTotal}"></span></li>
						</th:block>
						<th:block th:if="*{order.orderCanceled}">
							<li class="list-group-item list-group-item-danger" th:onclick="'loadOrder(\''+ ${order.id}  + '\',\'' + ${customer.username} +'\')'" style="cursor: pointer"><span
								th:text="*{#dates.format(order.orderDt, 'MM-dd-yyyy')}"></span> - #<span th:text="*{order.id}"></span></li>
						</th:block>
					</th:block>
				</ul>
			</div>
		</div>
		<div class="col-sm-9 d-none" id="orderContainer">
			<div class="card card-body" style="margin-top: 0px !important" id="orderDetail"></div>
		</div>
	</div>
	<script>
		/*<![CDATA[*/
	
		function loadOrder(id, username) {
			$("#orderDetail").load("/loadOrder/" + id + "/" + username);
			$("#orderContainer").removeClass("d-none");
		}
	
		/*]]>*/
	</script>

</div>