<span th:fragment="selectedOrderModalDetail">
	<input type="hidden" id="customerName" th:value="${customerName}" />
	<div class="modal-header">
		<h5 class="modal-title">
			Order Details : <span th:text="${selectedCustomerOrder.id}" id="orderId"></span>
		</h5>
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-9">
				<table class="table table-responsive table-hover">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">MCN</th>
							<th scope="col">Category</th>
							<th scope="col">Style</th>
							<th scope="col">Size</th>
							<th scope="col">Price</th>
							<th scope="col">Quantity</th>
							<th scope="col">Line total</th>
						</tr>
					</thead>
					<tbody>
						<th:block
							th:each="productOrder,index : ${selectedCustomerOrder.productOrderDetails}">
							<tr>
								<td data-toggle="collapse"
									th:attr="data-target='#tableRow'+${index.index}"
									class="clickable text-primary" style="cursor: pointer"><i
									class="fas fa-chevron-down"></i></td>
								<th scope="row"
									th:text="*{productOrder.product.mediaCatalogNumber}"></th>
								<td
									th:text="*{productOrder.product.productStyle.category.label}"></td>
								<td th:text="*{productOrder.product.productStyle.label}"></td>

								<td th:text="*{productOrder.size}"></td>
								<td>$<span th:text="*{productOrder.finalPrice}"></span></td>
								<td th:text="*{productOrder.quantity}"></td>
								<td>$<span th:text="*{productOrder.subTotal()}"></span></td>
							</tr>
							<tbody
								th:attr="id='tableRow'+${index.index}"
								class="collapse">
								<tr>
									<td colspan="8">
									
										<table>
											<tr th:if="*{productOrder.color}">
												<th>Color:</th>
												<td th:text="*{productOrder.color}"></td>
											</tr>
											<tr>
												<th>Mark Style:</th>
												<td th:text="*{productOrder.engrave ? 'Engrave' : 'Print'}"></td>
											</tr>
											<tr>
												<th>Description:</th>
												<td th:text="*{productOrder.description}"></td>
											</tr>
										
										</table>
									
									</td>
								</tr>
							</tbody>
						</th:block>
						<tr>
							<td colspan="7" style="text-align: right"><strong>Sub
									Total:</strong></td>
							<td colspan="2">$<span
								th:text="*{selectedCustomerOrder.orderSubtotal}"></span></td>
						</tr>
						<tr>
							<td colspan="7" style="text-align: right"><strong>Tax:</strong></td>
							<td colspan="2">$<span
								th:text="${selectedCustomerOrder.tax}"></span></td>
						</tr>
						<tr>
							<td colspan="7" style="text-align: right"><strong>Total:</strong></td>
							<td colspan="2">$<span
								th:text="${selectedCustomerOrder.orderTotal}"></span></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-sm-3">
				<ul class="list-group">
					<li class="list-group-item list-group-item-primary">Payments</li>
					<th:block th:each="payment : *{selectedCustomerOrder.payments}">
						<li class="list-group-item"><span
							th:text="*{#dates.format(payment.date, 'MM-dd-yyyy')}"></span> -
							$<span th:text="*{payment.amount}"></span> <span th:text="${payment.type}"></span></li>
					</th:block>
				</ul>
				<ul class="list-group">
					<li class="list-group-item list-group-item-success">Balance</li>
					<li class="list-group-item">$<span
						th:text="${selectedCustomerOrder.outstandingBalance()}"></span></li>
					<li class="list-group-item" th:if="${selectedCustomerOrder.outstandingBalance() != 0  }">
						<label for="example-text-input" class="col-form-label nowrap">Add Payment</label> 
						<input class="form-control" type="text" id="paymentAmount" placeholder="Payment Amount" />
						<select id="paymentType"  class="form-control">
							<option value="Cash" >Cash</option>
							<option value="Check" >Check</option>
							<option value="Visa" >Visa</option>
							<option value="Master Card" >Master Card</option>
						</select>
						<button type="button" id="paymentSubmit" class="btn btn-primary">Process Payment</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="modal-footer" th:unless="${selectedCustomerOrder.orderComplete}">
			<div class="col-sm-3">
				<button type="button"  class="btn btn-primary" id="cancelOrderButton" th:unless="${selectedCustomerOrder.orderComplete}">Cancel Order</button>
			</div>
			
			<div class="col-sm-5">
				<div class="form-check form-check-inline" sec:authorize="hasAuthority('EMPLOYEE')">
					<input class="form-check-input" type="checkbox"
						th:field="${selectedCustomerOrder.orderFinalized}" id="approvedCheck" />
					<label class="form-check-label" for="shipCheck"> Order
						Approved </label>
				</div>
				<div class="form-check form-check-inline" sec:authorize="hasAuthority('EMPLOYEE')">
					<input class="form-check-input" type="checkbox"
						th:field="${selectedCustomerOrder.orderShipped}" id="shipCheck"
						th:attr="disabled=${selectedCustomerOrder.outstandingBalance() != 0 ? 'true' : 'false'}" />
					<label class="form-check-label" for="shipCheck"> Order
						Shipped </label>
				</div>
				<div class="form-check form-check-inline" sec:authorize="hasAuthority('EMPLOYEE')">
					<input class="form-check-input" type="checkbox"
						th:field="${selectedCustomerOrder.orderReceived}"
						id="receivedCheck"
						th:attr="disabled=${selectedCustomerOrder.outstandingBalance() != 0 ? 'true' : 'false'}" />
					<label class="form-check-label" for="receivedCheck"> Order
						Received </label>
				</div>
			</div>
			
			<div class="col-sm-4 text-right"  >
				<button type="button" class="btn btn-primary" id="saveButton" sec:authorize="hasAuthority('EMPLOYEE')">Save changes</button>
				<a th:unless="${selectedCustomerOrder.orderShipped or disableEditOrder}" 
				class="btn btn-primary text-light" th:href="${'/shoppingCart/editExistingOrder/' + selectedCustomerOrder.id}">Edit Order</a>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
		<div class="modal-footer" th:if="${selectedCustomerOrder.orderComplete}">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>

	</div>

	<script>
		/*<![CDATA[*/
		$("#paymentSubmit").on("click", function () {
			var id = $("#orderId").text();
			var payment = $("#paymentAmount").val()*100;
			var type = $("#paymentType").val();
			var customerName = $("#customerName").val();
			$("#modalContent").load(encodeURI("/addPayment/" + id + "/"+ payment + "/"+ type + "/"+ customerName));
		});


		$("#saveButton").on("click", function () {
			var id = $("#orderId").text();
			var shipped = $("#shipCheck").prop('checked');
			var received = $("#receivedCheck").prop('checked');
			var approved = $("#approvedCheck").prop('checked');
			$('#modal').modal('hide');
			setTimeout(function(){ $("#searchResults").load("/updateOrder/" + id + "/"+ shipped + "/"+ received + "/"+ approved); }, 500);
		});
		$("#cancelOrderButton").on("click", function () {
			var searchResults = $("#searchResults").length ==1
			var id = $("#orderId").text();
			$('#modal').modal('hide');
			if(searchResults) {
				setTimeout(function(){ $("#searchResults").load("/cancelOrderEmployee/" + id); }, 500);
			}
			else {
				setTimeout(function(){ $("#orderHistory").load("/cancelOrderCustomer/" + id); }, 500);
			}
			
		});
		/*]]>*/
	</script>
</span>