<span th:fragment="selectedCustomer">
	<div id="accordion">
		<div class="card-header bg-dark " data-toggle="collapse" href="#collapseDetails">
			<a class="card-link" data-toggle="collapse" href="#collapseDetails"><i class="fas fa-chevron-down"></i> Customer details: <span
				class="text-light" th:text="${customerName}"></span> </a>
		</div>
		<div id="collapseDetails" class="collapse " data-parent="#accordion">

			<div class="card card-body" style="margin-top: 0px !important">
				<div class="row">
					<div class="col-sm-3">
						<h4>
							Username: <br /> <small class="text-muted" th:text="${customer.username}"></small>
						</h4>
					</div>
					<div class="col-sm-3">
						<h4>
							Name: <br /> <small class="text-muted" th:text="${customerName}"></small>
						</h4>
					</div>
					<div class="col-sm-2">
						<h4>
							Customer ID: <br /> <small class="text-muted" th:text="${customer.Id}"></small>
						</h4>
					</div>
					<div class="col-sm-4">
						<h4>
							Mail Address: <br /> <small class="text-muted" th:text="${customer.userInformation.emailAddress}"></small>
						</h4>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<h4>
							Phone Numbers: <br />
							<div th:each="phone: ${customer.userInformation.phonenumbers}">
								<small class="text-muted" th:text="${phone.displayValue()}"></small>
							</div>
						</h4>
					</div>
					<div class="col-sm-5">
						<h4>
							Billing Address: <br /> <small class="text-muted">
								<div th:if="${customerBillingAddress.street}">
									<div th:text="${customerBillingAddress.street}"></div>
									<div th:if="${customerBillingAddress.street2}" th:text="${customerBillingAddress.street2}"></div>
									<div>
										<span th:text="${customerBillingAddress.city}"></span>, <span th:text="${customerBillingAddress.state}"></span> <span
											th:text="${customerBillingAddress.postalcode}"></span>
									</div>
									<div th:text="${customerBillingAddress.country}"></div>
								</div>
							</small>
						</h4>
					</div>
					<div class="col-sm-4">
						<h4>
							Shipping Address: <br /> <small class="text-muted">
								<div th:if="${customerShippingAddress.street}">
									<div th:text="${customerShippingAddress.street}"></div>
									<div th:if="${customerShippingAddress.street2}" th:text="${customerShippingAddress.street2}"></div>
									<div>
										<span th:text="${customerShippingAddress.city}"></span>, <span th:text="${customerShippingAddress.state}"></span> <span
											th:text="${customerShippingAddress.postalcode}"></span>
									</div>
									<div th:text="${customerShippingAddress.country}"></div>
								</div>
							</small>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="accordion2" th:if="${customer.userInformation.customerDetail.orderDetails}">
		<div class="card-header bg-dark " data-toggle="collapse" href="#collapseOrders">
			<a class="card-link" data-toggle="collapse" href="#collapseOrders"><i class="fas fa-chevron-down"></i> Customer Orders </a>
		</div>

		<div id="collapseOrders" class="collapse show" data-parent="#accordion2">
			<!--/*/ <th:block th:include="fragments/orderHistory :: orderHistory"></th:block> /*/-->
			
		</div>
	</div> 
</span>