<span th:fragment="selectedUser">
	<div class="card card-body" style="margin-top: 0px !important">
		<div class="row">
			<div class="col-sm-3">
				<h4>
					Username: <br /> <small class="text-muted" th:text="${selectedUser.username}"></small>
				</h4>
			</div>
			<div class="col-sm-3">
				<h4>
					Name: <br /> <small class="text-muted" th:text="${employeeName}"></small>
				</h4>
			</div>

			<div class="col-sm-2">
				<h4>
					Role: <br /> <small class="text-muted" th:text="${selectedUser.mainRoleName}"></small>
				</h4>
			</div>
			<div class="col-sm-2">
				<h4>
					EmployeeId ID: <br /> <small class="text-muted" th:if="${employeeId}" th:text="${employeeId}"></small>
				</h4>
			</div>

			<div class="col-sm-2">
				<h4>
					Hire Date: <br /> <small class="text-muted" th:if="${hireDt}" th:text="*{#dates.format(hireDt, 'MM-dd-yyyy')}"></small>
				</h4>
			</div>

		</div>
		<hr />
		<div class="row">
			<div class="col-sm-3">
				<h4>
					Phone Numbers: <br />
					<div th:each="phone: ${selectedUser.userInformation.phonenumbers}">
						<small class="text-muted" th:text="${phone.displayValue()}"></small>
					</div>
				</h4>
			</div>
			<div class="col-sm-4">
				<h4>
					Mail Address: <br /> <small class="text-muted" th:text="${selectedUser.userInformation.emailAddress}"></small>
				</h4>
			</div>
			<div class="col-sm-5">
				<h4>
					Home Address: <br /> <small class="text-muted">
						<div th:if="${homeAddress.street}">
							<div th:text="${homeAddress.street}"></div>
							<div th:if="${homeAddress.street2}" th:text="${homeAddress.street2}"></div>
							<div>
								<span th:text="${homeAddress.city}"></span>, <span th:text="${homeAddress.state}"></span> <span th:text="${homeAddress.postalcode}"></span>
							</div>
							<div th:text="${homeAddress.country}"></div>
						</div>
					</small>
				</h4>
			</div>
		</div>
	</div>
	<div class="card card-body" style="margin-top: 0px !important">
		<form class="form-horizontal" th:object="${selectedUser}" th:action="@{/updateEmployeeStatus}" method="post">
			<input type="hidden" th:field="*{id}" /> <input type="hidden" th:field="*{mainRoleName}" />
			<div class="row">
				<div class="col-sm-2">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" th:field="*{newRoleName}" value="" /> <label class="form-check-label" for="inlineRadio1">Non
							Employee</label>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" th:field="*{newRoleName}" value="EMPLOYEE" /> <label class="form-check-label" for="inlineRadio1">Employee</label>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" th:field="*{newRoleName}" value="MANAGER" /> <label class="form-check-label" for="inlineRadio1">Manager</label>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-check form-check-inline" sec:authorize="hasAuthority('ADMIN')">
						<input class="form-check-input" type="radio" th:field="*{newRoleName}" value="ADMIN" /> <label class="form-check-label" for="inlineRadio1">Administrator</label>
					</div>
				</div>
				<div class="col-sm-3">
					<button type="submit" class="form-control btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
</span>