<span th:fragment="selectedOrder">
	<div class="card" style="margin-top: 0px !important">
		<div class="card-header text-white bg-danger " th:if="${selectedCustomerOrder.orderCanceled}">Order Summary - Canceled</div>
		<div class="card-header" th:unless="${selectedCustomerOrder.orderCanceled}">Order Summary</div>
		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">MCN</th>
						<th scope="col">Category</th>
						<th scope="col">Style</th>
						<th scope="col">Price</th>
						<th scope="col">Quantity</th>
					</tr>
				</thead>
				<tbody>
					<th:block
						th:each="productOrder : ${selectedCustomerOrder.productOrderDetails}">
						<tr>
							<th scope="row"
								th:text="*{productOrder.product.mediaCatalogNumber}"></th>
							<td th:text="*{productOrder.product.productStyle.category.label}"></td>
							<td th:text="*{productOrder.product.productStyle.label}"></td>
							<td>$<span th:text="*{productOrder.finalPrice}"></span></td>
							<td th:text="*{productOrder.quantity}"></td>

						</tr>
					</th:block>
				</tbody>
			</table>
			<!-- Large modal -->
			<button type="button" class="btn btn-primary" data-toggle="modal"  th:unless="${selectedCustomerOrder.orderCanceled}"
				data-target=".bd-example-modal-lg">View Full Details</button>
		</div>
		<div class="card-footer text-muted"  th:unless="${selectedCustomerOrder.orderCanceled}">
			<div class="row">
			<h4> Order Status </h4>
			</div>
			<div class="row">
				<div class="col-sm-3">
					Approved: <span
						th:text="${selectedCustomerOrder.orderFinalized}"></span>
					<span th:if="${selectedCustomerOrder.orderFinalizedDt}">
					<br/><span th:text="${#dates.format(selectedCustomerOrder.orderFinalizedDt, 'MM-dd-yyyy')}"></span>
					</span>
				</div>
				<div class="col-sm-3">
					Shipped: <span
						th:text="${selectedCustomerOrder.orderShipped}"></span>
					<span th:if="${selectedCustomerOrder.orderShippedDt}">
					<br/><span th:text="${#dates.format(selectedCustomerOrder.orderShippedDt, 'MM-dd-yyyy')}"></span>
					</span>
				</div>
				<div class="col-sm-3">
					Received: <span
						th:text="${selectedCustomerOrder.orderReceived}"></span>
					<span th:if="${selectedCustomerOrder.orderReceivedDt}">
					<br/><span th:text="${#dates.format(selectedCustomerOrder.orderReceivedDt, 'MM-dd-yyyy')}"></span>
					</span>
				</div>
				<div class="col-sm-3">
					Complete: <span
						th:text="${selectedCustomerOrder.orderComplete}"></span>
					<span th:if="${selectedCustomerOrder.orderCompleteDt}">
					<br/><span th:text="${#dates.format(selectedCustomerOrder.orderCompleteDt, 'MM-dd-yyyy')}"></span>
					</span>
				</div>
			</div>

		</div>
	</div>

	<div class="modal fade bd-example-modal-lg" tabindex="-1" id="modal"
		style="width: 100% !important" role="dialog"
		aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog" 
			style="width: 100% !important; max-width: 100% !important">
			<div class="modal-content" id="modalContent" style="width: 100% !important">
				<!--/*/ <th:block th:include="fragments/selectedOrderModalDetail :: selectedOrderModalDetail"></th:block> /*/-->
			</div>
		</div>
	</div>

</span>