<span th:fragment="userProfileContent">
	<div class="row">
		<div class="col-md-2">
			<img id="profile-img" class="profile-img-card-lg" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /><br />
		</div>
		<div class="col-md-10">
			<div class="alert alert-success" role="alert" th:if="${showProfileAlert}">
				<strong th:text="${updateMessageTitle}" ></strong> <span th:text="${updateMessage}"></span>
			</div>
		
					
			<legend>User Profile</legend>
			<div class="table-responsive">
				<form class="form-horizontal" th:object="${currentUser}"
				th:action="@{/updateUserProfile}" method="post">
					<input type="hidden" th:field="*{id}" />
					<table class="table table-condensed table-responsive table-user-information">
						<tbody>
							<tr>
								<td>
									<strong class="nowrap">
										User Name
									</strong>
								</td>
								<td class="text-primary" th:text="${currentUser.username}" >
								</td>
							</tr>

							<tr>        
								<td>
									<strong class="nowrap">Preferred Name</strong>
								</td>
								<td class="text-primary" th:if="${editibleProfile}">
									<input type="text" class="form-control"
									th:field="*{userInformation.preferredname}" />
								</td>
								<td class="text-primary" th:unless="${editibleProfile}" th:text="${currentUser.userInformation.preferredname}" >
								</td>
							</tr>

							<tr>        
								<td>
									<strong class="nowrap">First Name</strong>
								</td>
								<td class="text-primary" th:if="${editibleProfile}">
									<input type="text" class="form-control"
									th:field="*{userInformation.firstname}" />
								</td>
								<td class="text-primary" th:unless="${editibleProfile}" th:text="${currentUser.userInformation.firstname}">
								</td>
							</tr>
							<tr>    
								<td>
									<strong class="nowrap">Last Name</strong>
								</td>
								<td class="text-primary" th:if="${editibleProfile}">
									<input type="text" class="form-control"
									th:field="*{userInformation.lastname}" />
								</td>
								<td class="text-primary" th:unless="${editibleProfile}" th:text="${currentUser.userInformation.lastname}">
								</td>
							</tr>

							<tr>        
								<td>
									<strong class="nowrap">Email Address</strong>
								</td>
								<td class="text-primary" th:if="${editibleProfile}">
									<input type="text" class="form-control"
									th:field="*{userInformation.emailAddress}" />
								</td>
								<td class="text-primary" th:unless="${editibleProfile}" th:text="*{userInformation.emailAddress}">
								</td>
							</tr>

							<tr>        
								<td>
									<strong class="nowrap">Phone Numbers</strong>
								</td>
								<td class="text-primary" th:if="${editibleProfile}">
									<div th:each="phone, rowStat: *{userInformation.phonenumbers}" class="row">
										<input type="hidden" th:field="*{userInformation.phonenumbers[__${rowStat.index}__].id}" />
					
										<div class="col-sm-2 " >
											<select id="paymentType"  class="form-control" th:field="*{userInformation.phonenumbers[__${rowStat.index}__].type}">
												<option value="Home" >Home</option>
												<option value="Cell" >Cell</option>
												<option value="Work" >Work</option>
											</select>
										</div>
										
										<div class="col-sm-2"><input type="text" class="form-control"	th:field="*{userInformation.phonenumbers[__${rowStat.index}__].areacode}" placeholder="Area" /></div>

										<div class="col-sm-2"><input type="text" class="form-control"	th:field="*{userInformation.phonenumbers[__${rowStat.index}__].prefix}" placeholder="Prefix" /></div>

										<div class="col-sm-4"><input type="text" class="form-control"	th:field="*{userInformation.phonenumbers[__${rowStat.index}__].linenumber}" placeholder="Linenumber" /></div>

									</div>
								</td>
								<td class="text-primary" th:unless="${editibleProfile}" >
									<div th:each="phone: *{userInformation.phonenumbers}">
										<div th:text="${phone.displayValue()}"></div>
									</div>
								</td>
							</tr>


							<tr>
								<td>
									<strong class="nowrap">Birth Date</strong>
								</td>
								<td class="text-primary" th:if="${editibleProfile}">
									<input id="birthDate" type="date" class="form-control" th:value="*{userInformation.birthDt} ? *{#dates.format(userInformation.birthDt, 'yyyy-MM-dd')}"  />
									<input type="hidden" th:field="*{userInformation.tempBirthDt}" />
								</td>
								<td class="text-primary" th:unless="${editibleProfile}" th:text="${#dates.format(currentUser.userInformation.birthDt, 'MMMM dd, yyyy')}"></td>
							</tr>
						</tbody>
					</table>

					<button type="button" id="editButton" class="btn btn-outline-primary" th:unless="${editibleProfile}">Edit User Profile</button>
					<button type="button" id="cancelButton" class="btn btn-outline-secondary" th:if="${editibleProfile}">Cancel</button>
					<button type="submit" class="btn btn-outline-primary" th:if="${editibleProfile}">Submit</button>
				</form>	
			</div>
		</div>
	</div>

	<script>
		/*<![CDATA[*/
		$("#editButton").on("click", function () {
			$("#profileContent").load("/edituserprofile");
		});

		$("#cancelButton").on("click", function () {
			$("#profileContent").load("/canceledituserprofile");
		});
		$('#birthDate').change(function() { 
			$('#userInformation\\.tempBirthDt').val($('#birthDate').val());
		});
		/*]]>*/
	</script>
</span>