<span th:fragment="userSearchResults">
	<div th:if="${#lists.isEmpty(users)}" class="card" style="margin-top:0px !important">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
			<span >No Results</span> 
			</li>
		</ul>
	</div>
	<div th:if="${not #lists.isEmpty(users)}" class="card" style="margin-top:0px !important">
		<ul class="list-group list-group-flush"
			th:each="user : ${users}">
			<li class="list-group-item" th:onclick="'loadUser(\''+ ${user.username} +'\')'" style="cursor: pointer">
			<span th:text="${user.username}" ></span> 
			</li>
		</ul>
	</div>
	
	
	<script>
		/*<![CDATA[*/
		
		
		function loadUser(username) {
			$("#searchResults").load("/loadUser/" + username);
			$("#userSearch").val("");
			$("#userSearchResults").empty();
		}
		/*]]>*/
	</script>
</span>