<span th:fragment="userProfileEmployee">
	<div class="row">
		<div class="col-md-6">
			<legend>Employee Profile</legend>
			<div class="alert alert-success" role="alert" th:if="${showHomeAlert}">
				<strong th:text="${updateMessageTitle}" ></strong> <span th:text="${updateMessage}"></span>
			</div>

			<div class="table-responsive">
				<table class="table table-condensed table-responsive table-user-information">
					<tbody>
						<tr>
							<td>
								<strong>
									Employee Id
								</strong>
							</td>
							<td class="text-primary" th:text="${currentUser.userInformation.employeeDetail.employeeId}" >
							</td>
						</tr>
						<tr>
							<td>
								<strong>
									Hire Date
								</strong>
							</td>
							<td class="text-primary" th:text="${#dates.format(currentUser.userInformation.employeeDetail.hireDt, 'MMMM dd, yyyy')}">
							</td>
						</tr>
						<tr th:unless="${editibleHomeAddress}">
							<td>
								<strong>
									Address
								</strong>
							</td>
							<td class="text-primary">								
								<div >
									<div th:text="${homeAddress.street}"></div>
									<div th:if="${homeAddress.street2}" th:text="${homeAddress.street2}"></div>
									<div><span th:text="${homeAddress.city}"></span>, <span th:text="${homeAddress.state}"></span>
										<span th:text="${homeAddress.postalcode}"></span>
									</div>
									<div th:text="${homeAddress.country}"></div>
									<div>
										<button type="button" id="edithomeAddressButton"  class="btn btn-outline-primary">Edit Address</button>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-6" >
			<form class="form-horizontal" th:object="${homeAddress}" th:action="@{/updateAddress}" th:if="${editibleHomeAddress}" role="form" method="post">
				<input type="hidden" th:field="*{id}" />
				<input type="hidden" th:field="*{type}" />
				<input type="hidden" th:field="*{version}" />
				<div class="form-group row">
					<label for="example-text-input" class="col-2 col-form-label nowrap">Street</label>
					<div class="col-10">
						<input class="form-control" type="text" th:field="*{street}" placeholder="Address Line 1" />
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input" class="col-2 col-form-label nowrap">Street 2</label>
					<div class="col-10">
						<input class="form-control" type="text" th:field="*{street2}" placeholder="Address Line 2" />
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input" class="col-2 col-form-label nowrap">City</label>
					<div class="col-10">
						<input class="form-control" type="text" th:field="*{city}" placeholder="City" />
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input" class="col-2 col-form-label nowrap">State</label>
					<div class="col-3">
						<select class="form-control" name="homeAddress.state" th:field="*{state}" >
							<option value="AL">AL</option>
							<option value="AK">AK</option>
							<option value="AR">AR</option>	
							<option value="AZ">AZ</option>
							<option value="CA">CA</option>
							<option value="CO">CO</option>
							<option value="CT">CT</option>
							<option value="DC">DC</option>
							<option value="DE">DE</option>
							<option value="FL">FL</option>
							<option value="GA">GA</option>
							<option value="HI">HI</option>
							<option value="IA">IA</option>
							<option value="ID">ID</option>
							<option value="IL">IL</option>
							<option value="IN">IN</option>
							<option value="KS">KS</option>
							<option value="KY">KY</option>
							<option value="LA">LA</option>
							<option value="MA">MA</option>
							<option value="MD">MD</option>
							<option value="ME">ME</option>
							<option value="MI">MI</option>
							<option value="MN">MN</option>
							<option value="MO">MO</option>
							<option value="MS">MS</option>
							<option value="MT">MT</option>
							<option value="NC">NC</option>
							<option value="NE">NE</option>
							<option value="NH">NH</option>
							<option value="NJ">NJ</option>
							<option value="NM">NM</option>
							<option value="NV">NV</option>
							<option value="NY">NY</option>
							<option value="ND">ND</option>
							<option value="OH">OH</option>
							<option value="OK">OK</option>
							<option value="OR">OR</option>
							<option value="PA">PA</option>
							<option value="RI">RI</option>
							<option value="SC">SC</option>
							<option value="SD">SD</option>
							<option value="TN">TN</option>
							<option value="TX">TX</option>
							<option value="UT">UT</option>
							<option value="VT">VT</option>
							<option value="VA">VA</option>
							<option value="WA">WA</option>
							<option value="WI">WI</option>
							<option value="WV">WV</option>
							<option value="WY">WY</option>
						</select>
					</div>
					<label for="example-text-input" class="col-2 col-form-label nowrap">Zip</label>
					<div class="col-5">
						<input class="form-control" type="text" th:field="*{postalcode}" placeholder="Postal Code" />
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input" class="col-2 col-form-label nowrap">Country</label>
					<div class="col-10">
						<input class="form-control" type="text" th:field="*{country}" placeholder="country" />
					</div>
				</div>
				<div class="form-group row">
					<button type="button" id="cancelAddressButton"  class="btn btn-outline-secondary" >Cancel</button> 
					<button type="submit" class="btn btn-outline-primary" >Submit</button>
				</div>
			</form>
		</div>
	</div>

	<script>
		/*<![CDATA[*/
		$("#edithomeAddressButton").on("click", function () {
			$("#profileEmployee").load("/editHomeAddress");
		});

		$("#cancelAddressButton").on("click", function () {
			$("#profileEmployee").load("/cancelEditHomeAddress");
		});
		/*]]>*/
	</script>
</span>