<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<body>
	<div class="bodyWrapper">
		<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->

		<div class="container">
			<div class="page-header">
				<h2>Product Style Maintenance</h2>
			</div>
			<form class="form-horizontal" th:object="${currentProduct}" th:action="@{/adminproduct/save}" method="post">
				<input type="hidden" th:field="*{id}" /> <input type="hidden" th:field="*{version}" />
				<div class="row">
					<div class="form-group col-sm-3">
						<label class="control-label">Product Style:</label> <select class="form-control" id="sel1" th:field="*{productStyle}">

							<option th:each="listProductStyle : ${allProductStyles}" th:value="${listProductStyle.id}" th:text="${listProductStyle.label}">Product
								style</option>

						</select>
					</div>
					<div class="form-group col-sm-3">
						<label class="control-label">Media Catalog Number:</label> <input type="text" class="form-control" th:field="*{mediaCatalogNumber}" />
					</div>

					<div class="form-group col-sm-3">
						<label class="control-label">Price:</label> <input type="text" class="form-control" th:field="*{price}" />
					</div>
					<div class="form-group col-sm-3">
						<label class="control-label">Description:</label> <input type="text" class="form-control" th:field="*{description}" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<label class="control-label">Image URL:</label>
						<textarea class="form-control" rows="3" th:field="*{imageUrl}" />
					</div>
					<div class="form-group col-sm-3">
						<label class="control-label">Sizes:</label>
						<textarea class="form-control" rows="3" th:field="*{sizes}" />
					</div>

					<div class="form-group col-sm-3">
						<label class="control-label">Colors:</label>
						<textarea class="form-control" rows="3" th:field="*{colors}" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-9"></div>
					<div class="form-group col-sm-3">
						<label class="control-label">&nbsp;</label>
						<div class="row">
							<div class="col-sm-6">
								<a class="form-control btn btn-primary" th:href="@{/adminproduct}">Clear</a>
							</div>
							<div class="col-sm-6">
								<button type="submit" class="form-control btn btn-primary">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</form>

			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Product Style</th>
					<th>Media Control Number</th>
					<th>Image Url</th>
					<th>Price</th>
					<th>Description</th>
					<th>Sizes</th>
					<th>Colors</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="product : ${products}">
					<td th:text="${product.id}">Id</td>
					<td th:text="${product.productStyle.label}"></td>
					<td th:text="${product.mediaCatalogNumber}"></td>
					<td><span class="d-inline-block text-truncate" style="max-width: 250px;" th:text="${product.imageUrl}"></span></td>
					<td th:text="${product.price}">price</td>
					<td th:text="${product.description}">Size</td>
					<td th:text="${product.sizes}">sizes</td>
					<td th:text="${product.colors}">colors</td>
					<td><a th:href="${'/adminproduct/edit/' + product.id}">Edit</a></td>
					<td><a th:href="${'/adminproduct/delete/' + product.id}">Delete</a></td>
				</tr>
			</table>
		</div>
		<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

	</div>
</body>
</html>