<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<body>
	<div class="bodyWrapper">
		<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->

		<div class="container">
			<div class="page-header">
				<h2>Product Style Maintenance</h2>
			</div>
			<form class="form-horizontal" th:object="${productStyle}" th:action="@{/adminproductstyle/save}" method="post">
				<input type="hidden" th:field="*{id}" /> <input type="hidden" th:field="*{version}" />
				<div class="row">
					<div class="form-group col-sm-3">
						<label class="control-label">Category:</label> 
						<select class="form-control" id="sel1" th:field="*{category}">
							<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.label}">Product style</option>
						</select>
					</div>
					<div class="form-group col-sm-3">
						<label class="control-label">Code:</label> <input type="text" class="form-control" th:field="*{code}" />
					</div>
					<div class="form-group col-sm-3">
						<label class="control-label">Label:</label> <input type="text" class="form-control" th:field="*{label}" />
					</div>
					
					<div class="form-group col-sm-3">
						<label class="control-label">Mark Style:</label>
						<div class="row">
							<div class="col-sm-2"></div>
							<div class="col-sm-4">
								<input class="form-check-input" type="checkbox" th:field="*{print}" /> <label class="form-check-label"> Print </label>
							</div>
							<div class="col-sm-4">
								<input class="form-check-input" type="checkbox" th:field="*{engrave}" /> <label class="form-check-label"> engrave </label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-9"></div>
					<div class="form-group col-sm-3">
						<label class="control-label">&nbsp;</label>
						<div class="row">
							<div class="col-sm-6">
								<a class="form-control btn btn-primary" th:href="@{/adminproductstyle}">Clear</a>
							</div>
							<div class="col-sm-6">
								<button type="submit" class="form-control btn btn-primary">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</form>

			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Category</th>
					<th>Code</th>
					<th>Label</th>
					<th>Print</th>
					<th>engrave</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="productStyle : ${productStyles}">
					<td th:text="${productStyle.id}">Id</td>
					<td th:text="${productStyle.category.label}">Media Catalog Number</td>
					<td th:text="${productStyle.code}">Media Catalog Number</td>
					<td th:text="${productStyle.label}">Description</td>
					<td th:text="${productStyle.print}">Size</td>
					<td th:text="${productStyle.engrave}">Size</td>
					<td><a th:href="${'/adminproductstyle/edit/' + productStyle.id}">Edit</a></td>
					<td><span th:if="${!productStyle.hasProducts()}"><a th:href="${'/adminproductstyle/delete/' + productStyle.id}">Delete</a> </span></td>
				</tr>
			</table>
		</div>
		<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

	</div>
</body>
</html>