<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<body>
	<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->

	<div class="container">
		<div class="page-header">
			<h2>Admin panel</h2>
		</div>
		<h3>Users</h3>
		<div class="form-group">
			<div class="col-sm-4">
				<form class="form-horizontal" th:object="${currentUser}"
					th:action="@{/createUser}" method="post">
					<input type="hidden" th:field="*{id}" /> <input type="hidden"
						th:field="*{version}" />
					<div class="form-group">
						<label class="col-sm-6 control-label">Main Role:</label>
						<div class="col-sm-6">
							<select class="form-control" id="sel1" th:field="*{mainRoleName}">
								<option th:each="role : ${roles}" th:value="${role.role}"
									th:text="${role.role}">role</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-6 control-label">User Name:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{username}" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-6 control-label">Perfered Name:</label>
						<div class="col-sm-6" th:text="*{userInformation.getFullName()}">
							
						</div>

					</div>

					<div class="form-group">
						<label class="col-sm-6 control-label">Password:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{password}" />
						</div>
					</div>


					<div class="form-group">
						<label class="col-sm-6 control-label"></label>

						<div class="col-sm-6">
							<button type="submit" class="btn btn-default">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-8">
				<table class="table table-striped">
					<tr>
						<th>UserName</th>
						<th>Display Name</th>
						<th>Roles</th>
					</tr>
					<tr th:each="user : ${users}">
						<td th:text="${user.username}"></td>
						<td th:text="${user.userInformation.getFullName()}"></td>
						<td>
							<ul>
								<li th:each="role : ${user.roles}" th:text="${role.role}">Item
									description here...</li>
							</ul>
						</td>
						<!-- <td sec:authorize="hasAuthority('CUSTOMER')"><a
					th:href="${'/product/show/' + product.id}">View</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a
					th:href="${'/product/edit/' + product.id}">Edit</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a
					th:href="${'/product/delete/' + product.id}">Delete</a></td>-->
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>

