<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<body class="loginBackground">
	<div class="bodyWrapper">
		<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->

		<div class="container">
			<div class="card card-container">
				<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
				<p id="profile-name" class="profile-name-card"></p>
				<div th:if="${param.error}">
					<label style="color: red">Invalid username and password.</label>
				</div>
				<form class="form-signin" th:action="@{/login}" method="post">

					<span id="reauth-email" class="reauth-email"></span> <input type="text" name="username" class="form-control" placeholder="User Name" /> <input
						type="password" name="password" class="form-control" placeholder="Password" />
					<!-- <div id="remember" class="checkbox">
	                    <label>
	                        <input type="checkbox" value="remember-me" /> Remember me
	                    </label>
	                </div> -->
					<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
				</form>
				<a href="#" class="forgot-password" th:href="@{/login2}"> Forgot the password? </a>
			</div>
		</div>

	</div>
	<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>

