<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<body>
	<div class="bodyWrapper">
		<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->

		<div class="container">
			<div class="row">
				<!-- Image -->
				<div class="col-12 col-lg-6">
					<div class="card bg-light mb-3">
						<div class="card-body">
							<img class="img-fluid" th:src="${product.imageUrl}" />
						</div>
					</div>
				</div>

				<!-- Add to cart -->
				<div class="col-12 col-lg-6 add_to_cart_block">
					<div class="card bg-light mb-3">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-8">
									<h6 class="nowrap">
										Media Catalog Number: <span th:text="${product.mediaCatalogNumber}"></span>
									</h6>
								</div>
								<div class="col-sm-4 nowrap">
									<span class="price">$ <span th:text="${product.price}"></span></span>
								</div>
							</div>

							<h5 class="card-title" th:text="${product.productStyle.label}">Card title</h5>
							<p class="card-text" th:text="${product.description}"></p>
							<hr class="line" />
							<form class="form-horizontal" th:object="${productOrderDetail}" th:action="@{/addProductOrder}" method="POST">
								<input type="hidden" th:field="*{id}" /> <input type="hidden" th:field="*{productId}" /> <input type="hidden" th:if="*{markStyle}"
									th:field="*{markStyle}" /> <input type="hidden" th:field="*{finalPrice}" />

								<div class="form-group">
									<h6 class="nowrap">
										Marking Style: <span th:if="${product.productStyle.engrave and not product.productStyle.print}"> Engrave </span> <span
											th:if="${not product.productStyle.engrave and product.productStyle.print}"> Print </span>
									</h6>
									<span th:if="${product.productStyle.engrave and product.productStyle.print}">
										<div class="form-check form-check-inline">
											<label class="form-check-label"> <input class="form-check-input" type="radio" th:field="${productOrderDetail.markStyle}"
												value="print" /> Print
											</label>
										</div>
										<div class="form-check form-check-inline">
											<label class="form-check-label"> <input class="form-check-input" type="radio" th:field="${productOrderDetail.markStyle}"
												value="engrave" /> Engrave
											</label>
										</div>
									</span>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="colors">Size</label> <select class="custom-select" th:field="${productOrderDetail.size}">
												<option th:each="size : ${product.sizes}" th:value="${{size}}" th:text="${size}"></option>
											</select>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group" th:if="${product.colors}">
											<label for="colors">Color</label> <select class="custom-select" th:field="${productOrderDetail.color}">
												<option th:each="color : ${product.colors}" th:value="${{color}}" th:text="${color}"></option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>Quantity </label>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
												<i class="fa fa-minus"></i>
											</button>
										</div>
										<input type="text" class="form-control" th:field="${productOrderDetail.quantity}" min="1" max="100" value="1" />
										<div class="input-group-append">
											<button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
												<i class="fa fa-plus"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>Instructions</label>
									<textarea class="form-control" th:field="*{description}" rows="3"></textarea>
								</div>
								<button type="submit" class="btn btn-success btn-lg btn-block text-uppercase">
									<i class="fa fa-shopping-cart"></i> Add To Cart
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
			/*<![CDATA[*/
				$(document).ready(function() {
					var quantity = 1;

					$('.quantity-right-plus').click(function(e) {
						e.preventDefault();
						var quantity = parseInt($('#quantity').val());
						$('#quantity').val(quantity + 1);
					});

					$('.quantity-left-minus').click(function(e) {
						e.preventDefault();
						var quantity = parseInt($('#quantity').val());
						if (quantity > 1) {
							$('#quantity').val(quantity - 1);
						}
					});
					
					  //called when key is pressed in textbox
					  $("#quantity").keypress(function (e) {
					     //if the letter is not digit then display error and don't type anything
					     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
					        return false;
					    }
					   });
					});

				/*]]>*/
			</script>

		</div>
	</div>
	<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>

