<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<body>
	<div class="bodyWrapper">
		<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->
	
		<div class="container">
	
			<div class="page-header">
				<h2 id="header" sec:authorize="hasAuthority('GUEST')">Pick a product to get started.</h2>
				<h2 id="header" sec:authorize="!hasAuthority('GUEST')">Login to get started.</h2>
			</div>
			<div class="row" th:if="${not #lists.isEmpty(products)}">
				<div class="col-sm-4" th:each="product : ${products}">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" th:src="${product.imageUrl}" />
						<div class="card-body">
							<h5 class="card-title" th:text="${product.productStyle.label}">Card title</h5>
							<p class="card-text" th:text="${product.description}"></p>
							<hr class="line" />
							<div class="row">
								<div class="col-md-5 col-sm-5 nowrap" >
									<h5>$<span th:text="${product.price}"></span></h5>
								</div>
								<div class="col-md-5 col-sm-5">
									<a href="#" class="btn btn-primary" sec:authorize="hasAuthority('GUEST')" th:href="${'/product/show/' + product.id}">Go to Details</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>

