<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<body>
	<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->

	<div class="container">

		<div class="page-header">
			<h2>Product Create/Update</h2>
		</div>
		<div>
			<form class="form-horizontal" th:object="${product}"
				th:action="@{/product}" method="post">
				<input type="hidden" th:field="*{id}" /> <input type="hidden"
					th:field="*{version}" />
				<div class="form-group">
					<label class="col-sm-2 control-label">Product Style:</label>
					<div class="col-sm-10">
						<select class="form-control" id="sel1" th:field="*{productStyle}">
							<option th:each="style : ${productStyles}" th:value="${style.id}"
								th:text="${style.label}">Product style</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Media Control Number:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							th:field="*{mediaCatalogNumber}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Size:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{size}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Image Url:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{imageUrl}" />
					</div>
				</div>
				<div class="row">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</form>

		</div>
	</div>
	<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>

