<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<body>
	<div class="bodyWrapper">
		<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->

		<div class="container">
			<div th:if="${productOrderDetails.size() eq 0}" class="alert alert-danger" role="alert">The Shopping Cart is empty. Please add items to
				continue.</div>

			<div class="row" th:if="${productOrderDetails.size() gt 0}">
				<div th:if="${missingAddress}" class="alert alert-danger" role="alert">
					<h4 class="alert-heading">Missing Address!</h4>
					<p>A Billing address must be added to your profile before checkout can be complete.</p>
					<hr />
					<p class="mb-0">
						<a href="#" th:href="@{/userprofile}">Add address to your profile</a>
					</p>
				</div>
				<div class="col-12">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Product</th>
									<th scope="col">Color</th>
									<th scope="col">Size</th>
									<th scope="col" class="text-center">Quantity</th>
									<th scope="col" class="text-right">Price</th>
									<th scope="col" class="text-right">Line total</th>
									<th></th>
								</tr>
							</thead>
							<tbody th:each="productOrderDetail : ${productOrderDetails}">
								<tr>
									<td class="thumbnail"><img th:src="*{productOrderDetail.product.imageUrl}" width="50px" height="50px" /></td>
									<td th:text="*{productOrderDetail.product.productStyle.label}"></td>
									<td><span th:if="*{productOrderDetail.color}" th:text="*{productOrderDetail.color}"></span></td>
									<td th:text="*{productOrderDetail.size}"></td>
									<td th:text="*{productOrderDetail.quantity}" class="text-center"></td>
									<td class="text-right" th:inline="text">$ [[*{productOrderDetail.finalPrice}]]</td>
									<td class="text-right" th:inline="text">$ [[*{productOrderDetail.subTotal()}]]</td>
									<td class="text-right">
										<button class="btn btn-sm btn-success">
											<a th:href="${'/shoppingCart/editProduct/' + productOrderDetail.id}" class="text-white"> <i class="fa fa-edit"></i>
											</a>
										</button>
										<button class="btn btn-sm btn-danger">
											<a th:href="${'/shoppingCart/removeProduct/' + productOrderDetail.id}" class="text-white"> <i class="fa fa-trash"></i>
											</a>
										</button>
									</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td colspan="6"></td>
									<td>Sub-Total</td>
									<td class="text-right" th:inline="text">$ [[*{subtotal}]]</td>
								</tr>
								<tr>
									<td colspan="6"><span th:if="*{existingPayments > 0}" ><strong>Total payments</strong> $ <span id="existingPayment"
											th:text="*{existingPayments}"></span></span></td>
									<td>Tax (7.5%)</td>
									<td class="text-right" th:inline="text">$ [[*{tax}]]</td>
								</tr>
								<tr>
									<td colspan="6" class="text-left"><strong>Minimum payment</strong> $ <span id="minPayment" th:text="*{minPayment}"></span></td>
									<td><strong>Total</strong></td>
									<td class="text-right">$ <span id="total" th:text="*{total}"></span></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
				<div class="col mb-2">

					<div class="row">
						<div class="col-3">
							<a class="btn btn-lg btn-block btn-info" th:href="@{/products}">Continue Shopping</a>
						</div>
						<div class="col-sm-12  col-md-1"></div>
						<div class="col-sm-12  col-md-2">
							<a class="btn btn-lg btn-block btn-info" th:href="@{/shoppingCart/clear}">Clear Cart</a>
						</div>
						<div class="col-sm-12  col-md-1"></div>
						<div class="col-sm-12 col-md-5">
							<form class="form-horizontal" th:unless="${missingAddress}" th:object="${payment}" th:action="@{/shoppingCart/checkout}" method="POST">
								<input type="hidden" th:field="*{orderId}" />
								<div class="row">
									<div class="col-sm-4 text-right">
										<label for="example-text-input" class="col-form-label nowrap">Payment Amount</label>
									</div>
									<div class="col-sm-8">
										<input class="form-control" type="text" th:field="${payment.amount}" placeholder="$" />
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4 text-right">
										<label for="example-text-input" class="col-form-label nowrap">Payment Type</label>
									</div>
									<div class="col-sm-8">
										<select class="form-control" th:field="${payment.type}">
											<option value="">Select Type</option>
											<option value="Cash">Cash</option>
											<option value="Check">Check</option>
											<option value="Visa">Visa</option>
											<option value="Master Card">Master Card</option>
										</select>
									</div>
								</div>
								<hr />
								<div class="alert alert-danger" id="invalidPayment" role="alert" style="display: none;">Invalid Payment Amount!</div>
								<button class="btn btn-lg btn-block btn-secondary text-uppercase" type="submit" id="submitButton" disabled="disabled">
									<span th:if="${updateOrder}">Update Order</span><span th:unless="${updateOrder}">Checkout</span>
								</button>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
		/*<![CDATA[*/
		$( document ).ready(function() {
			validateCheckout(true) 
		});
		
		$('#type').change(function() {
			validateCheckout(false);
		});
		$('#amount').change(function() {
			validateCheckout(false);
		});
		
		function validateCheckout(onload) {
			var minAmount = parseFloat($('#minPayment').text());
			var total = parseFloat($('#total').text());			
			var amount = onload ? 0 : parseFloat($('#amount').val());
			var type = $('#type').val();
			var submitButton = $("#submitButton");
			submitButton.addClass( "btn-secondary" );
			submitButton.removeClass( "btn-success" );
			submitButton.prop("disabled", true);
			
			if(amount >= minAmount && amount <= total ) {
				$('#invalidPayment').fadeOut();
				if(type !== "" || onload) {
					submitButton.addClass( "btn-success" );
					submitButton.removeClass( "btn-secondary");
					submitButton.prop("disabled", false);
				}
			}
			else if(!onload) {
				$('#invalidPayment').fadeIn();
			}
		}

		$('#amount').keypress(function(event) {
		    var $this = $(this);
		    if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
		       ((event.which < 48 || event.which > 57) &&
		       (event.which != 0 && event.which != 8))) {
		           event.preventDefault();
		    }

		    var text = $(this).val();
		    if ((event.which == 46) && (text.indexOf('.') == -1)) {
		        setTimeout(function() {
		            if ($this.val().substring($this.val().indexOf('.')).length > 3) {
		                $this.val($this.val().substring(0, $this.val().indexOf('.') + 3));
		            }
		        }, 1);
		    }

		    if ((text.indexOf('.') != -1) &&
		        (text.substring(text.indexOf('.')).length > 2) &&
		        (event.which != 0 && event.which != 8) &&
		        ($(this)[0].selectionStart >= text.length - 2)) {
		            event.preventDefault();
		    }      
		});

		$('#amount').bind("paste", function(e) {
		var text = e.originalEvent.clipboardData.getData('Text');
		if ($.isNumeric(text)) {
		    if ((text.substring(text.indexOf('.')).length > 3) && (text.indexOf('.') > -1)) {
		        e.preventDefault();
		        $(this).val(text.substring(0, text.indexOf('.') + 3));
		   }
		}
		else {
		        e.preventDefault();
		     }
		});
		/*]]>*/
	</script>

	</div>
	<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>
