<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<body class="loginBackground">

	<div class="bodyWrapper">
		<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->
		<div class="container">
			<div class="card card-container-wide" style="margin-top: 0px !important">
				<div class="container bootstrap snippet">
					<div class="panel-body inf-content">
						<span id="profileContent"> <legend>Sign up</legend>
							<div class="table-responsive">
								<form class="form-horizontal" th:object="${currentUser}" th:action="@{/createGuest}" method="post">
									<table class="table table-condensed table-responsive table-user-information">
										<tbody>
											<tr>
												<td><strong class="nowrap"> User Name </strong></td>
												<td><input type="text" class="form-control" th:field="*{username}" /></td>
											</tr>
											<tr>
												<td><strong class="nowrap"> Password</strong></td>
												<td><input type="text" class="form-control" th:field="*{password}" placeholder="Password" /> <input type="text" class="form-control"
													th:field="*{confirmPassword}" placeholder="Confirm Password" /></td>
											</tr>

											<tr>
												<td><strong class="nowrap">Preferred First Name</strong></td>
												<td><input type="text" class="form-control" th:field="*{userInformation.preferredname}" /></td>
											</tr>

											<tr>
												<td><strong class="nowrap">First Name</strong></td>
												<td><input type="text" class="form-control" th:field="*{userInformation.firstname}" /></td>
											</tr>
											<tr>
												<td><strong class="nowrap">Last Name</strong></td>
												<td><input type="text" class="form-control" th:field="*{userInformation.lastname}" /></td>
											</tr>

											<tr>
												<td><strong class="nowrap">Email Address</strong></td>
												<td><input type="text" class="form-control" th:field="*{userInformation.emailAddress}" /></td>
											</tr>

											<tr>
												<td><strong class="nowrap">Phone Numbers</strong></td>
												<td>
													<div th:each="phone, rowStat: *{userInformation.phonenumbers}" class="row">
														<input type="hidden" th:field="*{userInformation.phonenumbers[__${rowStat.index}__].id}" />

														<div class="col-sm-2 ">
															<select id="paymentType" class="form-control" th:field="*{userInformation.phonenumbers[__${rowStat.index}__].type}">
																<option value="Home">Home</option>
																<option value="Cell">Cell</option>
																<option value="Work">Work</option>
															</select>
														</div>

														<div class="col-sm-2">
															<input type="text" class="form-control" th:field="*{userInformation.phonenumbers[__${rowStat.index}__].areacode}" placeholder="Area" />
														</div>

														<div class="col-sm-2">
															<input type="text" class="form-control" th:field="*{userInformation.phonenumbers[__${rowStat.index}__].prefix}" placeholder="Prefix" />
														</div>

														<div class="col-sm-4">
															<input type="text" class="form-control" th:field="*{userInformation.phonenumbers[__${rowStat.index}__].linenumber}"
																placeholder="Linenumber" />
														</div>

													</div>
												</td>
											</tr>
											<tr>
												<td><strong class="nowrap">Birth Date</strong></td>
												<td><input id="birthDate" type="date" class="form-control"
													th:value="*{userInformation.birthDt} ? *{#dates.format(userInformation.birthDt, 'yyyy-MM-dd')}" /> <input type="hidden"
													th:field="*{userInformation.tempBirthDt}" /></td>
											</tr>
										</tbody>
									</table>

									<button type="submit" class="btn btn-outline-primary">Submit</button>
								</form>
							</div>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

	<script>
		/*<![CDATA[*/
		$('#birthDate').change(function() {
			$('#userInformation\\.tempBirthDt').val($('#birthDate').val());
		});
		$('#confirmPassword').change(function() {
			validatePassword();

		});
		$('#password').change(function() {
			if ($('#confirmPassword').val().length > 0) {
				validatePassword();
			}

		});
		function validatePassword() {
			if ($('#confirmPassword').val() !== $('#password').val()) {
				$('#confirmPassword').addClass("is-invalid");
				$('#password').addClass("is-invalid");
				$('#confirmPassword').removeClass("is-valid");
				$('#password').removeClass("is-valid");
			} else {
				$('#confirmPassword').addClass("is-valid");
				$('#password').addClass("is-valid");
				$('#confirmPassword').removeClass("is-invalid");
				$('#password').removeClass("is-invalid");
			}
		}
		/*]]>*/
	</script>
</body>
</html>

